<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}{% endblock title %}</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/main/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/main/css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="/static/main/css/matrix-style.css" />
    <link rel="stylesheet" href="/static/main/css/matrix-media.css" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>
    <link href="/static/main/font-awesome/css/font-awesome.css" rel="stylesheet" />
    {% block css %}{% endblock css %}

  </head>
  <body>
<!--Header-part-->
    <div id="header">
      <h1><a href="#">Domain Tools</a></h1>
    </div>
<!--close-Header-part-->


<!--top-Header-menu-->
    <div id="user-nav" class="navbar navbar-inverse">
      <ul class="nav">
        <li class=""><a title=""><i class="icon icon-user"></i> <span class="text">{{ user.get_username }}</span></a></li>
        <li class=""><a title="" href="{% url 'logout'%}?next={{request.path}}"><i class="icon icon-share-alt"></i> <span class="text">Logout</span></a></li>
</ul>
    </div>
<!--close-top-Header-menu-->
<!--start-top-serch-->
<!--close-top-serch-->
<!--sidebar-menu-->
    <div id="sidebar"><a href="#" class="visible-phone"><i class="icon icon-home"></i> Dashboard</a>
      <ul>
        <li id="sb-home"><a href="{% url 'home' %}"><i class="icon icon-home"></i> <span>Home</span></a></li>
        <li id="sb-dns" class="submenu"> <a href="#"><i class="icon icon-th-list"></i> <span>DNS Records</span> <span class="label label-important">3</span></a>
          <ul>
            <li><a href="{% url 'a:index' %}">A Record</a></li>
            <li><a href="{% url 'aaaa:index' %}">AAAA Record</a></li>
            <li><a href="{% url 'mx:index' %}">MX Record</a></li>
          </ul>
        </li>
        <li id="sb-whois"><a href="{% url 'whoisrec:index' %}"><i class="icon icon-globe"></i> <span>WHOIS</span></a></li>
        <li id="sb-blacklist"><a href="{% url 'blacklist:index' %}"><i class="icon icon-info-sign"></i> <span>Blacklists</span></a></li>
        <li id="sb-reverse"><a href="{% url 'ptr:index' %}"><i class="icon icon-file"></i> <span>Reverse Lookup</span></a></li>
        <!--<li id="sb-more" class="submenu"> <a href="#"><i class="icon icon-fullscreen"></i> <span>More Tools</span> <span class="label label-important">3</span></a>
          <ul>
            <li><a href="#">Tool 1</a></li>
            <li><a href="#">Tool 2</a></li>
            <li><a href="#">Tool 3</a></li>
          </ul>
        </li>-->
      </ul>
    </div>
<!--sidebar-menu-->

<!--main-container-part-->
    <div id="content">
<!--breadcrumbs-->
      <div id="content-header">
        <div id="breadcrumb">
          <a href="{% url 'home' %}" title="Go to Home" class="tip-bottom">
            <i class="icon-home"></i>
            Home
          </a>
          {% block cd %}{% endblock cd %}
        </div>
        <h1>{% block header %}{% endblock header %}</h1>
      </div>
<!--End-breadcrumbs-->

<!--Action boxes-->
      <div class="container-fluid">
        {% block content %}
        {% endblock content %}
      </div>
    </div>

<!--end-main-container-part-->

<!--Footer-part-->

    <div class="row-fluid">
      <div id="footer" class="span12"> &copy; Domain Tools<a href="#"></a> </div>
    </div>

<!--end-Footer-part-->

    <script src="/static/main/js/excanvas.min.js"></script>
    <script src="/static/main/js/jquery.min.js"></script>
    <script src="/static/main/js/jquery.ui.custom.js"></script>
    <script src="/static/main/js/bootstrap.min.js"></script>
    <script src="/static/main/js/matrix.js"></script>
    <script src="/static/main/js/jquery.validate.js"></script>
    <script src="/static/main/js/jquery.uniform.js"></script>

    {% block javascript %}{% endblock javascript %}

  </body>
</html>
