{% if invalid %}
<div class="alert alert-error alert-block" style="display:none;">
  <a class="close" data-dismiss="alert" href="#">×</a>
    <h4 class="alert-heading">AAAA Lookup error!</h4>
Invalid domain {{domain}}
</div>
{% else %}
<!-- start table -->
<div class="widget-box" style="display:none;">
  <div class="widget-title"> <span class="icon"><i class="icon-th"></i></span>
    <h5>{{domain}} - AAAA Records</h5>
  </div>
  {% if records %}
  <div class="widget-content">
    <table class="table table-bordered data-table">
      <thead>
        <tr>
          <th>Domain</th>
          <th>IP Address</th>
          <th>Location</th>
          <th>TTL</th>
        </tr>
      </thead>
      <tbody>
        {% for i in records.ip %}
        <tr class="gradeA">
          <td>{{records.domain}}</td>
          <td>{{i.address}}</td>
          <td>{{i.location}}</td>
          <td class="center">{{records.ttl}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% else %}
  <div class="widget-content">
    No AAAA Records were found.
  </div>
  {% endif %}
</div>
<!-- end table -->
{% endif %}
